---
# TODO: replace unneeded sudo and sudo_user attributes with user and group
# permissions
# TODO: break into smaller tasks - such as configuring all X stuff with a
# single command.

- name: Upgrade the system
  apt: upgrade=dist

- name: Install the debs
  apt: name={{ item }} state=latest update_cache=yes
  with_items:
    - build-essential
    - curl
    - git
    - m4
    - ruby
    - texinfo
    - libbz2-dev
    - libcurl4-openssl-dev
    - libexpat-dev
    - libncurses-dev
    - libncursesw5-dev
    - zlib1g-dev
    - python-dev
    - cmake
    - tmux
    - update-motd
    - vim
    - emacs24-nox
    - supervisor
    - nodejs
    - npm

# Setup atom (https://atom.io/) ppa and install.
- name: Add custom Galaxy PPA (used for atom package)
  apt_repository: repo="ppa:webupd8team/atom" update_cache=yes
  when: galaxy_devbox_include_x

# Setup komodo-edit ppa and install.
- name: Add custom PPA (used for komodo-edit package)
  apt_repository: repo="ppa:mystic-mirage/komodo-edit" update_cache=yes
  when: galaxy_devbox_include_x

- name: Install the debs (X11 environment)
  apt: name={{ item }} state=latest update_cache=yes
  with_items:
    - atom
    - komodo-edit
    - xfce4-xkb-plugin
    - gedit
    - xubuntu-core
    - firefox
  when: galaxy_devbox_include_x

- name: Remove light-locker to disable screen locking in VM.
  apt: name=light-locker state=absent update_cache=yes
  when: galaxy_devbox_include_x

- name: Remove duplicated indicator services between XUbuntu and base image.
  apt: name={{ item }} state=absent update_cache=yes
  with_items:
    - indicator-datetime
    - indicator-power
  when: galaxy_devbox_include_x

- name: Add Google key for Chrome installation
  apt_key:
    url: https://dl.google.com/linux/linux_signing_key.pub
    state: present
  when: galaxy_devbox_include_x

- name: Add Google APT repository
  apt_repository:
    repo: deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main
    state: present
  when: galaxy_devbox_include_x

- name: Install Chrome Stable
  apt:
    name: google-chrome-stable
    state: latest
  when: galaxy_devbox_include_x

- name: Ensures /etc/lightdm/lightdm.conf.d/ dir exists
  file: path=/etc/lightdm/lightdm.conf.d/ state=directory

- name: Configure GUI to auto login the dev user.
  template: src=10-xubuntu.conf.j2 dest=/etc/lightdm/lightdm.conf.d/10-xubuntu.conf
  when: galaxy_devbox_include_x

- name: Install vim extras
  become: True
  become_user: "{{ dev_user_name }}"
  shell: "curl http://j.mp/spf13-vim3 -L -o - | sh"

# - name: Install linuxbrew
#   become: True
#   become_user: "{{ dev_user_name }}"
#   shell: "ruby -e \"$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install)\""

# - name: Tap galaxyproject recipes
#   become: True
#   become_user: "{{ dev_user_name }}"
#   shell: "{{ dev_user_home }}//.linuxbrew/bin/brew tap galaxyproject/tap"

# - name: Install planemo
#   become: True
#   become_user: "{{ dev_user_name }}"
#   shell: "{{ dev_user_home }}/.linuxbrew/bin/brew install -v planemo"

# - name: Install linuxbrew bash completion stuff
#   become: True
#   become_user: "{{ dev_user_name }}"
#   shell: "{{ dev_user_home }}/.linuxbrew/bin/brew install -v bash-completion"

# # TODO: MANPATH, INFOPATH
# - name: Add linuxbrew to dev users PATH
#   lineinfile: "dest={{ dev_user_shellrc }} line='export PATH={{ dev_user_home }}/.linuxbrew/bin:$PATH'"

# - name: Source linuxbrew bash completions
#   lineinfile: "dest={{ dev_user_shellrc }} line='. {{ dev_user_home }}/.linuxbrew/etc/bash_completion'"

- name: Setup planemo virtualenv
  become: True 
  become_user: "{{ dev_user_name }}"
  shell: "virtualenv {{ dev_planemo_virtualenv }}"

- name: Install planemo
  become: True 
  become_user: "{{ dev_user_name }}"
  shell: ". {{ dev_planemo_virtualenv }}/bin/activate && pip install planemo"

- name: Setup planemo virtualenv on PATH
  lineinfile: "dest={{ dev_user_shellrc }} line='export PATH=$PATH:{{ dev_planemo_virtualenv }}/bin'"

- name: Setup .planemo.yml
  template: src=planemo.yml.j2 dest={{ dev_user_home }}/.planemo.yml owner={{ dev_user_name }} group={{ dev_user_group }}

- name: Configure Destop directory.
  file: path={{ dev_user_home }}/Desktop state=directory  owner={{ dev_user_name }} group={{ dev_user_group }}
  when: galaxy_devbox_include_x

- name: Configure Destop shortcuts.
  template: src=Desktop/{{ item }}.desktop.j2 dest={{ dev_user_home }}/Desktop/{{ item }}.desktop mode=a+x owner={{ dev_user_name }} group={{ dev_user_group }}
  when: galaxy_devbox_include_x
  with_items:
    - atom
    - komodo-edit
    - exo-terminal-emulator
    - exo-web-browser
    - galaxyproject
    - ipython
    - localgalaxy
    - localtoolshed
    - planemo
    - toolsyntax

- name: Configure Desktop link to development tools.
  file: src={{ dev_tool_conf_dir }} dest={{ dev_user_home }}/Desktop/tools state=link owner={{ dev_user_name }} group={{ dev_user_group }} force=true
  when: galaxy_devbox_include_x

- name: Configure Desktop link to Galaxy web log.
  file: src={{ uwsgi_log if galaxy_uwsgi else galaxy_log_dir + "/galaxy_web0.log" }} dest="{{ dev_user_home }}/Desktop/Galaxy Web Process.log" state=link owner={{ dev_user_name }} group={{ dev_user_group }} force=true
  when: galaxy_devbox_include_x

- name: Configure Desktop link to Galaxy handler log.
  file: src={{ galaxy_log_dir }}/handler0.log dest="{{ dev_user_home }}/Desktop/Galaxy Job Handler.log" state=link owner={{ dev_user_name }} group={{ dev_user_group }} force=true
  when: galaxy_devbox_include_x

- name: Install the dev tools
  apt: name={{ item }} state=latest update_cache=yes
  with_items:
    - emacs24-nox

- name: Install node and npm
  apt: name={{ item }} state=latest update_cache=yes
  with_items:
    - nodejs
    - npm

- name: Start supervisord on boot
  service: name=supervisor enabled=yes

- name: activate supervisor on boot, the shell way
  become: True
  shell: "systemctl enable supervisor.service"

- name: Link nodejs to node
  become: True
  shell: "ln -f -s /usr/bin/nodejs /usr/bin/node"

- name: Install more locales
  locale_gen: name={{ item }} state=present
  with_items:
    - en_US.UTF-8
    - en_GB.UTF-8
    - de_DE.UTF-8

- name: Deactivate auto updates
  become: True
  become_user: "{{ galaxy_user_name }}"
  shell: "gsettings set org.gnome.settings-daemon.plugins.updates active false && gsettings set org.gnome.settings-daemon.plugins.updates auto-download-updates false"

- name: Add dev tool configuration file.
  template: src=dev_tool_conf.xml.j2 dest={{ dev_tool_conf }}

- name: Add planemo machine web content
  git: repo={{ planemo_machine_web_repo }} dest={{ planemo_machine_web_dir }} accept_hostkey=yes
  when: nginx_serve_planemo_machine_web

- name: Add small tool conf
  template: src=tool_conf.small.xml.j2 dest={{ small_tool_conf_path }}
  when: small_tool_conf

- name: "Install Galaxy management scripts."
  template: src=restart_galaxy.j2 dest=/usr/local/bin/restart_galaxy mode=a+x

- name: "Eliminate unnecessary notifications on login."
  become: True
  shell: "rm -f /etc/update-motd.d/9*"

- name: "Ensure that planemo-machine's environment settings are applied."
  lineinfile: dest={{ dev_user_home }}/.bashrc line='[[ -f $HOME/.planemo-machine ]] && . $HOME/.planemo-machine'

- name: "Add the local environment settings."
  template: src=planemo-machine.sh.j2 dest={{ dev_user_home }}/.planemo-machine

- name: "Update login notifications."
  become: True
  shell: "/usr/sbin/update-motd"

- name: Ensure existence of .config directory
  file: path={{ dev_user_home }}/.config/ state=directory owner={{ dev_user_name }} group={{ dev_user_group }}

- name: Ensure existence of xfconf directory for next step.
  file: path={{ dev_user_home }}/.config/xfce4/xfconf/xfce-perchannel-xml state=directory owner={{ dev_user_name }} group={{ dev_user_group }}
  when: galaxy_devbox_include_x

- name: "Add the keyboard layout switcher to the panel."
  template: src=xfce4-panel.xml.j2 dest={{ dev_user_home }}/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
  become: True
  become_user: "{{ dev_user_name }}"
  when: galaxy_devbox_include_x

- name: Ensure existence of xfce4-terminal config directory for next step.
  file: path={{ dev_user_home }}/.config/xfce4/terminal state=directory owner={{ dev_user_name }} group={{ dev_user_group }}
  when: galaxy_devbox_include_x

- name: "Add a xfce4-terminal configuration for this VM"
  template: src=xfce4-panel.xml.j2 dest={{ dev_user_home }}/.config/xfce4/terminal/terminalrc
  become: True
  become_user: "{{ dev_user_name }}"
  when: galaxy_devbox_include_x

- name: Download and install Miniconda 3
  become: True
  become_user: "{{ dev_user_name }}"
  shell: "{{ dev_planemo_virtualenv }}/bin/planemo conda_init"

- name: "Build a package with Conda build to ensure build tools are available in image (reduce tutorial download requirements)."
  become: True
  become_user: "{{ dev_user_name }}"
  shell: "git clone https://github.com/bioconda/bioconda-recipes /tmp/bioconda; cd /tmp/bioconda/recipes; {{ dev_user_home }}/miniconda3/bin/conda build bamtools/2.3.0; cd; rm -rf /tmp/bioconda"

- name: Add Miniconda 3 bin to PATH.
  lineinfile: "dest={{ dev_user_shellrc }} line='export PATH=$PATH:{{ dev_user_home }}/miniconda3/bin/'"

- name: Shorten bash prompt.
  lineinfile: "dest={{ dev_user_shellrc }} line='{{ dev_command_prompt }}'"

- name: "Add test script to check machine."
  template: src=check-planemo-machine.sh.j2 dest=/usr/bin/check-planemo-machine.sh mode=0755
  become: True
