#/bin/sh

set -e

echo "Waiting for Galaxy to become available."
: ${BIOBLEND_GALAXY_URL:="http://localhost"}
for i in {1..40}; do curl --silent --fail "${BIOBLEND_GALAXY_URL}/api/version" && break || sleep 5; done
echo "Waiting for all supervisord process to leave STARTING state."
for i in {1..40}; do ! $(supervisorctl status | grep -q STARTING) && break || sleep 5; done

echo "Supervisord managed processes"
supervisorctl status

echo "Checking supervisor galaxy web thread is running."
supervisorctl status galaxy:web0 | grep -q RUNNING

{% if galaxy_handler_processes > 0 %}
echo "Checking supervisor galaxy job handler is running."
supervisorctl status galaxy:handler0 | grep -q RUNNING
{% endif %}

echo "Checking supervisor postgres is running."
supervisorctl status postgresql | grep -q RUNNING

echo "Checking SLURM controller is running."
supervisorctl status slurmctld | grep -q RUNNING

echo "Checking SLURM host daemon is running."
supervisorctl status slurmd | grep -q RUNNING

echo "Checking munge is running for SLURM."
supervisorctl status munge | grep -q RUNNING

echo "Checking local tool shed is running."
supervisorctl status toolshed | grep -q RUNNING

echo "Checking NGINX is running."
supervisorctl status nginx | grep -q RUNNING

echo "Checking GIE proxy is running."
supervisorctl status galaxy:galaxy_nodejs_proxy | grep -q RUNNING

## TODO: Move miniconda stuff from .bashrc to .profile I guess?
## su -l {{ dev_user_name }} /bin/bash -c 'planemo --help'
su -l {{ dev_user_name }} /bin/bash -c '{{ dev_planemo_virtualenv }}/bin/planemo --help'

DOC_TEST_RUNNER="https://raw.githubusercontent.com/galaxyproject/planemo/master/scripts/run_doc_test.sh"
curl -s "$DOC_TEST_RUNNER" /tmp/run_doc_test.sh
su -l {{ dev_user_name }} /bin/bash -c "PLANEMO_VIRTUAL_ENV={{ dev_planemo_virtualenv }} DOCS=building bash /tmp/run_doc_test.sh"
su -l {{ dev_user_name }} /bin/bash -c "PLANEMO_VIRTUAL_ENV={{ dev_planemo_virtualenv }} DOCS=building_cwl bash /tmp/run_doc_test.sh"
su -l {{ dev_user_name }} /bin/bash -c "PLANEMO_VIRTUAL_ENV={{ dev_planemo_virtualenv }} DOCS=conda bash /tmp/run_doc_test.sh"
su -l {{ dev_user_name }} /bin/bash -c "PLANEMO_VIRTUAL_ENV={{ dev_planemo_virtualenv }} DOCS=conda_cwl bash /tmp/run_doc_test.sh"

## TODO: Check Conda in the future.
# echo "Checking if Docker is running."
# docker ps
