galaxy_root: {{ galaxy_root }}
sheds:
  username: "{{ galaxy_toolshed_bootstrap_username }}"
  local:
    email: "{{ galaxy_toolshed_bootstrap_email }}"
    password: "{{ galaxy_toolshed_bootstrap_password }}"
