[Desktop Entry]
Name=Atom
Comment=A hackable text editor for the 21st century
Exec=/opt/atom/atom %F
Icon=atom
Type=Application
StartupNotify=true
Categories=TextEditor;Development;Utility;
MimeType=text/plain;
X-Desktop-File-Install-Version=0.22
