[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch WebBrowser http://localhost/ide/
Icon=web-browser
StartupNotify=true
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/http;x-scheme-handler/https;
Name=Codebox Tool Editor
Comment=Browse the web
