[Desktop Entry]
Name=Komodo Edit
Comment=Free multi-platform editor that makes it easy to write quality code.
Exec=komodo-edit %F
Icon=komodo-edit
Type=Application
StartupNotify=true
Categories=TextEditor;Development;Utility;
MimeType=text/plain;
X-Desktop-File-Install-Version=0.22
