[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch WebBrowser https://wiki.galaxyproject.org/Admin/Tools/ToolConfigSyntax
Icon=web-browser
StartupNotify=true
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/http;x-scheme-handler/https;
Name=Tool Syntax Documentation
Comment=Browse the web
